.map {
    display: grid;
    width: 830px;
    height: 630px;
    grid-template-columns: repeat(10, 1fr);
    background-color: rgba(125, 216, 125, 0.7);
    opacity: 1;
}

.map-tile {
    width: 80px;
    height: 60px;
    border: 1.5px solid black;
    opacity: 1;
}

.selected-map-tile {
    width: 80px;
    height: 60px;
    border: 1.5px solid white;
    opacity: 1;
}